<section class="page-section clearfix">
    <div class="container">
        <div class="intro"><img class="img-fluid intro-img mb-6 mb-lg-5 rounded"
                src="https://c4.wallpaperflare.com/wallpaper/218/805/282/love-mood-heart-cry-wallpaper-preview.jpg">
            <div class="text-center intro-text p-5 rounded bg-faded">
                <h2 class="section-heading mb-4"><span class="section-heading-upper">Tinder</span><span
                        class="section-heading-lower">The Hottest Dating App Today!</span></h2>
                <p class="mb-3">Tinder is the dating app used by many people today. You will find a very much you new at
                    here, message the chat with the people are same same same own the own life, life near you, ... and
                    will most likely become your other half.</p>
                <div class="mx-auto intro-button"><a style="background-color: #a35b5b; color:#f2eded;"
                        class=" d-inline-block mx-auto btn-xl" role="button" href="#">
                        Experience with us</a></div>
            </div>
        </div>
    </div>
</section>
<section style="background-color : #c97c7c;" class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div style="background-color : #f4e6d9;" class="text-center cta-inner rounded">
                    <h2 class="section-heading mb-4"><span class="section-heading-upper">Our Promise</span><span
                            class="section-heading-lower">To You</span></h2>
                    <p class="mb-0">Single people, listen up: If you’re looking for love, want to start dating, or just
                        keep it casual, you need to be on Tinder. With over 55 billion matches made, it’s the place to
                        be to meet your next best match. Let’s be real, the dating landscape looks very different today,
                        as most people are meeting online. With Tinder, the world’s most popular free dating app, you
                        have millions of other single people at your fingertips and they’re all ready to meet someone
                        like you. Whether you’re straight or in the LGBTQIA community, Tinder’s here to bring you all
                        the sparks.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>