<h1 class="text-center text-white d-none d-lg-block site-heading"><span style="color: #ce7575;"
        class=" site-heading-upper mb-3 ">WELCOM TO HERE&nbsp;</span><span class="site-heading-lower">Let's experiment
        with tinder</span></h1>
<nav style="background-color:#ffaaaa;" class="navbar navbar-dark navbar-expand-lg py-lg-4" id="mainNav">
    <div class="container"><a class="navbar-brand text-uppercase d-lg-none text-expanded" href="#">Brand</a><button
            data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/signin">SingIn</a></li>
                <li class="nav-item"><a class="nav-link" href="/signup">SIngUp</a></li>
                <li class="nav-item"><a class="nav-link" href="/users">User</a></li>
            </ul>
        </div>
    </div>
</nav>